* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  font-family: "Courier New", monospace;
  padding: 2rem;
}

.root {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu-item.selected {
  background-color: #555;
}

.menu {
  width: 10rem;
  margin-right: 0.5rem;
}

.menu-item:before {
  width: 3.25rem;
  border-left: 1px solid white;
  flex-shrink: 0;
}

.menu-item.menu-item-folder::before {
  content: "ￚ 📁";
}

.menu-item.menu-item-evidence::before {
  content: "ￚ 📄";
}

.menu-item.menu-item-questions::before {
  content: "ￚ ❓";
}

.menu-item-content {
  flex-grow: 1;
  line-height: 1.5rem;
  padding: 0.25rem 0;
}

.menu-item {
  cursor: pointer;
  display: flex;
}

.menu-item:hover {
  background-color: #223;
}

.evidence-container {
  flex-grow: 1;
  padding: 0 1rem;
}

.evidence {
  width: 40rem;
  border: 1px solid #ddd;
  padding: 1rem;
  min-height: 40rem;
}

select {
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 0.5rem;
  display: block;
  margin: 0.25rem 0;
}

button {
  border: 1px solid #555;
  width: 100%;
  color: white;
  background-color: #222;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

.error {
  color: red;
}

.success {
  color: green;
}

.sms {
  display: flex;
  margin-bottom: 1rem;;

  .sms-photo {
    width: 4rem;
    height: 4rem;
    flex-basis: 5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  &.me .sms-content {
    background-color: darkgreen;
  }

  .sms-content {
    background-color: darkblue;
    padding: 0.15rem 1rem;
  }
}